@import './mixins/mixins';
@import './modules/modules';
@import './transitions';

$bgcolor-button-neutral: #000;
$bgcolor-button-hover: #DF004F;
$textcolor-button-neutral: #fff;
$textcolor-button-hover: $textcolor-button-neutral;

.ol-zoom {
    left:auto!important;
    top:auto!important;
    right:.5em;
    bottom:.5em;
}
.ol-control button {
    background-color:$bgcolor-button-neutral;
    color:$textcolor-button-neutral;

    &:hover {
        background-color:$bgcolor-button-hover;
        color:$textcolor-button-hover;
    }
}

.gh-dim-map-container {
    position: relative;
    .gh-dim-map {
        width:100%;
        height:600px;
        .gh-dim-locationpicker & {
            width:75%;
            height:450px;
        }
    }
    .gh-dim-search {
        position: absolute;
        min-width:300px;
        top:0;
        left:0;

        .gh-dim-search-form {
            background-color:#FFF;
            overflow-x:hidden;
            @include box-shadow(5px 5px 10px 1px #888888);

            input[type="search"] {
                width:100%;
            }

            .gh-dim-search-results {
                list-style:none;
                li {
                    display:block;
                    cursor:pointer;
                    border-bottom:1px solid #EBEBEB;
                    line-height:2;
                    min-width:300px;
                    &.focused {
                        outline:2px solid black;
                    }
                }
            }
        }
    }
    .gh-dim-filter {
        position: absolute;
        min-width:300px;
        top:0;
        right:0;
        background-color:#FFF;
        padding:0 20px;
        @include box-shadow(5px 5px 10px 1px #888888);
        opacity:0.4;

        &:hover, &:focus, &:focus-within {
            opacity: 1;
            .gh-dim-filters {
                max-height:240px;
                transition: max-height 0.25s ease-in;
            }
        }

        .gh-dim-filters {
            overflow-x:hidden;
            overflow-y:auto;
            transition: max-height 0.15s ease-out;
            max-height:0;
            margin-right:-20px;
            .gh-dim-filters-filter {
                clear:both;
            }
        }
    }
    .gh-dim-tooltip {
        background-color:rgba(255,255,255,0.9);
        border:1px solid #EBEBEB;
        border-radius:3px;
        padding:8px;
        max-width:320px;
        span {
            font-weight: bold;
            font-size:12px;
        }
    }
}

body.gh-dim-modal-open {
    overflow:hidden;
}

.gh-dim-feature-modal {
    position:fixed;
    z-index:1000;
    left:0;
    top:0;
    width:100%;
    height:100%;
    overflow:auto;
    background-color:rgb(0,0,0);
    background-color:rgba(0,0,0,0.2);

    header {
        position: relative;
        .gh-dim-modal-close {
            position:absolute;
            top:0;
            right:0;
            .gh-dim-modal-close-marker {
                display:inline-block;
                @include border-radius(14px);
                @include font-size(1.4);
                font-weight:bold;
                &::before {
                    content: '×';
                    cursor:pointer;
                }
            }
        }
    }

    article {
        background-color:#FFF;
        @include box-shadow(5px 5px 10px 1px #888888);
        padding:20px;
        border:1px solid #888;
        width:80%;
        height:80%;
        overflow-y:auto;
        margin:0 auto;
        margin-top:40px;
    }

    .gh-dim-feature-content {

    }
}