$font-size-base: 14px;
@import './mixins/mixins';
@import './modules/modules';
@import './transitions';

$screen-xs: 480px !default;
$screen-md: 1024px !default;
$bgcolor-button-neutral: #000;
$bgcolor-button-hover: #353535;
$bgcolor-feature-header: #000;
$bgcolor-search: #FFF;
$textcolor-button-neutral: #fff;
$textcolor-button-hover: $textcolor-button-neutral;
$shadow-color: rgba(0, 0, 0, 0.5);

.ol-zoom {
    left:auto!important;
    top:auto!important;
    right:.5em;
    bottom:.5em;
}
.ol-control button {
    @include font-size(20px);
    background-color:$bgcolor-button-neutral;
    color:$textcolor-button-neutral;

    &:hover, &:focus {
        background-color:$bgcolor-button-hover;
        color:$textcolor-button-hover;
    }
}

@mixin gh-dim-map-size-klein {
    div.kaart-klein &, div.kaart-50p-300px & {
        @content;
    }
}

@mixin gh-dim-map-size-middel {
    div.kaart-middel &, div.kaart-75p-450px & {
        @content;
    }
}

@mixin gh-dim-map-size-groot {
    &, div.kaart-standaard &, div.kaart-groot &, div.kaart-100p-600px & {
        @content;
    }
}

@mixin checkbox-list($checkboxWrapperClass, $controlsClass, $descriptionClass, $checkboxClass) {
    $in-anim-speed: 0.25s;
    $out-anim-speed: 0.15s;
    $anim-delay: 0.5s;
    position: absolute;

    width:74px;
    max-width:50%;
    @content;

    background-color:#FFF;
    padding:0 20px;
    box-shadow: 5px 5px 10px 1px $shadow-color;
    transition: width $out-anim-speed ease-out, max-width $out-anim-speed ease-out;
    transition-delay: $anim-delay;

    &:hover, &:focus, &:focus-within {
        width:100%;
        max-width:100%;
        @media all and (min-width: $screen-md) {
            max-width:33%;
        }
        transition: width $in-anim-speed ease-in, max-width $in-anim-speed ease-in;
        .#{$checkboxWrapperClass} {
            transition: max-height $in-anim-speed ease-in;
            overflow-y:auto;
            @include gh-dim-map-size-klein {
                max-height:170px;
            }
            @include gh-dim-map-size-middel {
                max-height:300px;
            }
            @include gh-dim-map-size-groot {
                max-height:440px;
            }
        }

        header h2 {
            background-color:$bgcolor-button-hover;
            text-align:left;
        }
    }

    header {
        margin:0 -20px;
        background-color:$bgcolor-button-neutral;
        h2 {
            @include font-size(14px);
            margin:0;
            padding:10px;
            font-weight:bold;
            color:$textcolor-button-neutral;
        }
    }

    .#{$checkboxWrapperClass} {
        overflow:hidden;
        transition: max-height $out-anim-speed ease-out;
        transition-delay: $anim-delay;
        max-height:0;
        margin-right:-20px;
        padding-right:20px;
        .#{controlsClass} {
            margin:10px 0;
            button {
                @extend .btn !optional;
                @include font-size(12px);
            }
        }
        .#{$descriptionClass} {
            margin:10px 0;
            @include font-size(12px);
        }
        .#{checkboxClass} {
            &:first-child {
                margin-top:10px;
            }
            label {
                @include font-size(12px);
                font-weight:normal;
            }
        }
    }
}

.gh-dim-map-container {
    position: relative;
    .gh-dim-map {
        @include gh-dim-map-size-klein {
            width:100%;
            height:300px;
            @media all and (min-width: $screen-md) {
                width:50%;
            }
        }
        @include gh-dim-map-size-middel {
            width:100%;
            height:450px;
            @media all and (min-width: $screen-md) {
                width:75%;
            }
        }
        @include gh-dim-map-size-groot {
            width:100%;
            height:600px;
        }
    }
    .gh-dim-search {
        z-index:9;
        top:0;
        left:0;
        width:100%;
        @media all and (min-width: $screen-md) {
            width:auto;
            min-width:320px;
            top:.5em;
            left:.5em;
        }
        @include gh-dim-map-size-klein {
            z-index:15;
        }
        position: absolute;
        background-color:#FFF;
        box-shadow: 5px 5px 10px 1px $shadow-color;

        .gh-dim-search-form {
            input[type="search"] {
                width:100%;
                line-height:1.5;
                border:1px solid #ccc;
                padding:5px 10px;
                @include font-size(12px);
                border-top-left-radius:3px;
                border-top-right-radius:3px;
            }

            .gh-dim-search-results {
                list-style:none;
                padding-left:0;
                margin-bottom:0;
                border:1px solid #ccc;
                border-top-style:none;
                li {
                    display:block;
                    cursor:pointer;
                    border-bottom:1px solid #EBEBEB;
                    line-height:1.5em;
                    padding:8px 17px;
                    @media all and (min-width: $screen-md) {
                        min-width:300px;
                    }
                    @include font-size(12px);

                    &:last-child {
                        border-bottom-style: none;
                    }
                    &:hover {
                        background-color:#EBEBEB;
                    }
                    &.focused {
                        outline:2px solid $bgcolor-button-hover;
                        background-color:#EBEBEB;
                    }
                }
            }
        }
    }

    .gh-dim-filter {
        @include checkbox-list(
        'gh-dim-filters',
        'gh-dim-filters-controls',
        'gh-dim-filters-description',
        'gh-dim-filters-filter') {
            top:7em;
            right:0;
            z-index:11;
            @media all and (min-width: $screen-md) {
                width:71px;
                max-width:71px;
                @include gh-dim-map-size-klein {
                    left: 6.5em;
                    top: 3.5em;
                    z-index:8;
                }
                @include gh-dim-map-size-middel {
                    top:.5em;
                    right:16.5em;
                    z-index:10;
                }
                @include gh-dim-map-size-groot {
                    top:.5em;
                    right:16em;
                    z-index:10;
                }
            }
        }
    }

    .gh-dim-toggler {
        @include checkbox-list(
        'gh-dim-togglers',
        'gh-dim-togglers-controls',
        'gh-dim-togglers-description',
        'gh-dim-togglers-toggler') {
            z-index:12;
            top:4em;
            right:0;
            @media all and (min-width: $screen-md) {
                width:71px;
                max-width:71px;
                @include gh-dim-map-size-klein {
                    left: .5em;
                    top: 3.5em;
                    z-index:9;
                }
                @include gh-dim-map-size-middel {
                    top:.5em;
                    right:22.5em;
                    z-index:9;
                }
                @include gh-dim-map-size-groot {
                    top:.5em;
                    right:22em;
                    z-index:9;
                }
            }
        }
    }


    .gh-dim-tooltip {
        background-color:rgba(255,255,255,0.9);
        border:1px solid #EBEBEB;
        border-radius:3px;
        padding:8px;
        max-width:320px;
        span {
            font-weight: bold;
            @include font-size(12px);
        }
    }
    .gh-dim-features-listbox {
        $in-anim-speed: 0.25s;
        $out-anim-speed: 0.15s;
        $anim-delay: 0.5s;
        position: absolute;
        z-index:10;

        right:0;
        top:10em;
        width:204px;
        max-width:50%;

        @media all and (min-width: $screen-md) {
            width:204px;
            max-width:204px;
            top:.5em;
            right:.5em;
        }
        @media all and (min-width: $screen-md) {
            width:204px;
            max-width:204px;
            @include gh-dim-map-size-klein {
                left: 12.5em;
                top: 3.5em;
                z-index:7;
            }
            @include gh-dim-map-size-middel {
                top:4em;
                right:16.5em;
                z-index: 8;
            }
            @include gh-dim-map-size-groot {
                top:.5em;
                right:.5em;
                z-index:11;
            }
        }

        background-color:#FFF;
        padding:0 20px; // !
        box-shadow: 5px 5px 10px 1px $shadow-color;
        transition: width $out-anim-speed ease-out, max-width $out-anim-speed ease-out;
        transition-delay: $anim-delay;

        &:hover, &:focus, &:focus-within {
            width:100%;
            max-width:100%;
            @media all and (min-width: $screen-md) {
                max-width:33%;
            }
            transition: width $in-anim-speed ease-in, max-width $in-anim-speed ease-in;
            .gh-dim-features-listbox-content {
                transition: max-height $in-anim-speed ease-in;
                overflow-y:auto;
                @include gh-dim-map-size-klein {
                    max-height:170px;
                }
                @include gh-dim-map-size-middel {
                    max-height:300px;
                }
                @include gh-dim-map-size-groot {
                    max-height:440px;
                }
            }

            header h2 {
                background-color:$bgcolor-button-hover;
            }
        }

        header {
            margin:0 -20px;
            background-color:$bgcolor-button-neutral;
            h2 {
                @include font-size(14px);
                margin:0;
                padding:10px;
                font-weight:bold;
                color:$textcolor-button-neutral;
                span {
                    color:$textcolor-button-neutral;
                    font-size:65%;
                    font-weight:normal;
                }
            }
        }

        .gh-dim-features-listbox-content {
            margin:0 -20px;
            overflow:hidden;
            transition: max-height $out-anim-speed ease-out;
            transition-delay: $anim-delay;
            max-height:0;
            margin-right:-20px;
            padding-right:20px;
            .gh-dim-features-listbox-description {
                margin:10px;
                @include font-size(12px);
            }

            ul {
                list-style:none;
                padding-left:0;
                margin-bottom:0;
                border-top-style:none;
                li {
                    display:block;
                    cursor:pointer;
                    border-bottom:1px solid #EBEBEB;
                    line-height:1.5em;
                    padding:8px 17px;
                    @media all and (min-width: $screen-md) {
                        min-width:300px;
                    }
                    @include font-size(12px);

                    &:hover {
                        background-color:#EBEBEB;
                    }
                    &.focused {
                        outline:2px solid $bgcolor-button-hover;
                        background-color:#EBEBEB;
                    }

                    &.redirect::after {
                        content: ' (opent nieuwe pagina)';
                        font-size:0.8em;
                        font-style: italic;
                    }
                }
            }
        }
    }
}

body.gh-dim-modal-open {
    overflow:hidden;
}

.gh-dim-feature-modal {
    position:fixed;
    z-index:2000;
    left:0;
    top:0;
    width:100%;
    height:100%;
    overflow:auto;
    background-color:rgba(0, 0, 0, 0.5);

    article.gh-dim-feature {
        cursor:default;
        box-shadow: 0 5px 15px rgba(0,0,0,.5);
        border:1px solid #888;
        width:100%;
        height:100%;
        @media all and (min-width: $screen-md) {
            width:90%;
            height:80%;
            margin-top:40px;
        }
        margin:0 auto;
        border: 1px solid rgba(0, 0, 0, .2);
        outline:0;
        position: relative;

        header {
            position: absolute;
            width:100%;
            padding:10px 0px 15px 15px;
            background-color:$bgcolor-feature-header;
            border-radius:6px 6px 0 0;
            h2 {
                @include font-size(24px);
                margin:0;
                color:#FFF;
                overflow:hidden;
                text-overflow: ellipsis;
                display:block;
                white-space: nowrap;
                width:80%;
            }
            .gh-dim-modal-close {
                position:absolute;
                top:0;
                right:24px;
                .gh-dim-modal-close-marker {
                    display:inline-block;
                    @include font-size(48px);
                    font-weight:normal;
                    color:$textcolor-button-hover;
                    margin-top:12px;
                    &::before {
                        content: '×';
                        cursor:pointer;
                    }
                }
            }
        }

        .gh-dim-feature-content {
            bottom:0;
            margin-top:50px;
            width:100%;
            height:100%;
            overflow:auto;
            padding:15px;
            background-color:#FFF;
            border-radius:0 0 6px 6px;
            .gallery-item {
                height:230px;
                @media all and (max-width: $screen-xs) {
                    max-width:100%;
                }
            }
            .gallery-caption {
                display: none;
            }
        }
    }
}